
services:
  waha:
    image: devlikeapro/waha
    container_name: waha
    ports:
      - "3000:3000"
    environment:
      WAHA_API_KEY: "${WAHA_API_KEY}"
    volumes:
      - ./waha-sessions:/app/.sessions
    restart: unless-stopped

  roi-alert:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: roi-alert
    depends_on:
      - waha
    env_file:
      - .env
    environment:
      - CONFIG_PATH=/app/config.yaml
      - EVENTS_DIR=/data/events
      - WAHA_API_KEY=${WAHA_API_KEY}
    volumes:
      - ./app/config.yaml:/app/config.yaml:ro
      - ./events:/data/events
      - ./cache:/root/.cache
      - ./ultralytics:/root/.config/Ultralytics
    restart: unless-stopped

  dashboard:
    build:
      context: ./app/web
      dockerfile: Dockerfile
    container_name: roi-dashboard
    depends_on:
      - roi-alert
    environment:
      - EVENTS_DIR=/data/events
      - LIVE_FILENAME=live.jpg
      - STATUS_FILENAME=status.json
      - MJPEG_FPS=8
      - CAM_RTSP_URL_PREVIEW=${CAM_RTSP_URL_PREVIEW}
      
    ports:
      - "8081:8081"
    volumes:
      - ./events:/data/events:ro
    restart: unless-stopped